*{
  cursor:default;
}
body {
  background-color:#0e0e0d;
  font-family: 'Fredoka One', cursive;
  -webkit-app-region: drag;
  height:94vh;
  overflow-y: hidden;
  margin: unset;

}
#content{
  margin: auto;

}
h1 {
  text-align: center;
  font-size: -webkit-xxx-large;
  color: #fff;
      text-shadow: 2px 2px 5px black;
}

h3{
  text-align: center;
  color: #fff;
  text-shadow: 2px 1px 1px black;
  font-size: 24px;
  font-family: 'Neucha', cursive;
}

.search{
  -webkit-app-region: no-drag;
}

#sentence {
  display:block;
  width:70%;
  margin:auto;
  font-family: 'Neucha', cursive;
  font-size: x-large;
  text-align: center;
  -webkit-app-region: no-drag;
  background-color: #5f5f5f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor:text;
  padding: 5px;
}
#sentence:focus{
  outline:0;
}

#submit {
  margin: auto;
  min-width: 20%;
  display: block;
  font-family: 'Fredoka One', cursive;
  margin-top: 5px;
  padding: 3px;
  border-radius: 10px;
  background-color: #1b8a1b;
  border: none;
  font-size: large
  -webkit-app-region: no-drag;
}

#submit:hover{
  background-color: #2fd42f;
  cursor:pointer;
  transition: 0.5s;
}

#submit:focus{
  outline:0;
}

#newSentence{
  text-align: center;
  font-family: 'Neucha', cursive;
  font-size: -webkit-xxx-large;
  color:white;
  padding:2%;
}

#error{
  display:none;
  text-align: center;
  color: red;
  text-shadow: 2px 1px 1px black;
  font-size: 24px;
}

#toolbar{
  color: white;
  font-size: 30px;
  display: flex;
  margin-left: 88%;
  justify-content: space-evenly;
  -webkit-app-region: no-drag;

}
.toolbarButton{
  text-decoration: none;
  color:white;
}
.toolbarButton:hover{
  cursor: pointer;
  color:red;
}
.toolbarButton:active{
  color:white;
}
.toolbarButton:visited{
  color:white;
}

.minimise{
  line-height: 0.7;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
